body {
 padding: 0;
 margin: 0;
}

#app {
 width: 100vh;
 height: 100%;
 padding: 0px;
 margin: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.card {
 width: 200px;
 height: 200px;
 border: 1px solid black;
 border-radius: 7px;
 margin: 0px 10px 10px 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 cursor: pointer;
}

.card:hover {
 background-color: rgb(238, 238, 238);
 border-color: transparent;
}

.card--name {
 margin: 0;
}
